:root {
    --primary: #F4A442;
    --secondary: #E8E1D9;
}

body {
    background-image: url(/assets/img/maroon.png);
    background-size: inherit;
    color: var(--secondary);
    overflow-x: hidden;
}

#header {
    font-size: 4.6rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container-left {
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: nowrap;
    margin: 2rem;
}

.container-right {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end space-between;
    text-align: center;
}